<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-grid.css}" >
    <link rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}">
    <link rel="stylesheet" th:href="@{/css/quiz-styles.css}">
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}" />
</head>
<body>
<div class="quiz-container" th:object = "${quiz}">
    <h1 class="text-center mb-4 " th:text = "${quiz.getName()}">Викторина</h1>
    <form id="quiz-form" action="" method="POST">
        <input type="hidden" data-th-name="${_csrf.parameterName}"
               data-th-value="${_csrf.token}">
        <div th:each="question, questionIndex : ${quiz.getQuestions()}">
            <div class="question-container" th:classappend="${questionIndex.index == 0 ? 'active' : ''}" th:data-question="${questionIndex.index + 1}">
                <h2 class="quiz-name" th:text = "${question.getName()}">Вопрос</h2>
                <p th:text = "${question.getDescription()}"> Дополнительное описание вопроса, если есть.</p>
                <div th:each="answer: ${question.getAnswers()}" >
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input"
                               th:id="'q' + ${questionIndex.index + 1} + 'a'"
                               th:name="'q' + ${questionIndex.index + 1} + 'a'"
                               th:value = "${answer.getName()}">
                        <label class="form-check-label" th:text = "${answer.getName()}">Ответ</label>
                    </div>
                </div>
                <div class="mt-auto">
                    <button th:if="${questionIndex.index > 0}" type="button" class="btn btn-primary mx-auto" th:onclick="'prevQuestion(' + ${questionIndex.index + 1} + ')'" >Предыдущий вопрос</button>
                    <button th:if="${!questionIndex.last}"type="button" class="btn btn-primary mx-auto" th:onclick="'nextQuestion(' + ${questionIndex.index + 1} + ')'" >Следующий вопрос</button>
                    <button th:if="${questionIndex.last}" type="submit" class="btn btn-primary mx-auto" id = "saveQuizResult">Завершить викторину</button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.js}" ></script>
<script th:src="@{/js/bootstrap.js}" ></script>
<script th:src="@{/js/QuizHandler.js}" ></script>

</html>